@import "variables"
@import "reset.css"
@import "components/_components.sass"
@import "sections/_sections.sass"
@import "sections/footer"

*
  font-family: inherit

a
  text-decoration: none
  color: inherit
  transition: opacity 0.3s ease

a:hover
  opacity: 65%

body
  font-family: $ff-roboto

ul
  margin: 0
  padding: 0

ul[data-clean]
  list-style: none

.header
  padding-top: 2.25rem

.nav
  color: $clr-neutral-700
  font-size: $fs-300

.hero
  position: relative
  background-image: url("~/assets/img/decor/bg-half-round.svg")
  background-repeat: no-repeat
  background-position: 42%
  line-height: 1.33
  color: $clr-neutral-800

.hero__title
  font-family: $ff-playfair
  font-size: $fs-900

.hero__subtitle
  margin-top: 1rem
  font-family: $ff-playfair
  font-size: $fs-700

.hero__image
  margin-right: 7%

.hero__description
  margin-top: 2.5rem
  font-weight: $fw-light
  font-size: $fs-300
  line-height: 1.5

.hero__button
  display: inline-block
  margin-top: 4rem

.hero__specs-number
  color: $clr-neutral-800
  font-family: $ff-prata

.hero__price
  position: absolute
  left: 40%
  top: 17%

.hero__diameter
  position: absolute
  right: 0
  bottom: 18%

.popular
  padding-top: 3.125rem
  padding-bottom: 7.75rem

.popular__header
  width: 100%
  position: relative

.popular__title
  justify-self: center
  font-family: $ff-playfair
  font-size: $fs-800
  line-height: 1.33

.popular__see-all
  position: absolute
  font-weight: $fw-medium
  top: 2rem
  right: 0

.popular__goods
  margin-top: 3.125rem

.slideshow___image
  max-width: 32.5rem

.slideshow
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr auto
  padding-block: 3.33rem 1.25rem
  padding-inline: 11rem
  column-gap: 4.3rem
  position: relative
  background-image: url("~/assets/img/decor/bg-rect.svg")
  background-size: cover
  background-repeat: no-repeat
  overflow: hidden

.slideshow::after
  content: ""
  background-image: url("~/assets/img/decor/circles.svg")
  background-repeat: no-repeat
  position: absolute
  right: -32vw
  top: -38%
  width: 744px
  height: 900px

.slideshow__info
  align-items: start
  max-width: 45ch

.slideshow__title
  font: $ff-playfair $fs-800
  line-height: 1.33

.slideshow__description
  font-family: $ff-roboto
  margin-top: 2.375rem
  line-height: 1.5

.slideshow__controls
  margin-top: 1.25rem
  margin-left: auto
  margin-right: 5rem

.slideshow__button
  margin-top: 2.8rem

.slideshow__page-number
  font: $fs-200 $ff-prata
